@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Отправка сообщения</title>
    @Styles.Render("~/content/Site.css")
</head>
<body>
    @Html.Partial("MenuPartial")

    <div>
        @using (Html.BeginForm("Request", "Home", FormMethod.Post, new { @class = "form-container" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-title">
                <h2>Отправка сообщения в социальные сети</h2>
            </div>
            <div class="form-title">Сообщение:</div>
            @Html.TextArea("message", new { @class = "form-field" })<br />
            <div class="form-title">Заголовок (для контакта):</div>
            @Html.TextBox("title", null, new { @class = "form-field" })<br />
            <div class="form-title">
                <table>
                    <tr>
                        <td>Вконтакте</td>
                        <td>@Html.RadioButton("socialName", "vk", true, new { @class = "form-field" })</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td>@Html.RadioButton("socialName", "facebook", false, new { @class = "form-field" })</td>
                    </tr>
                    <tr>
                        <td>Twitter</td>
                        <td>@Html.RadioButton("socialName", "twitter", false, new { @class = "form-field" })</td>
                    </tr>
                </table>
            </div>

            <div class="submit-container">
                <input class="submit-button" type="submit" value="Отправить" />
            </div>
        }
    </div>
</body>
</html>