@model TsSoft.Social.Samples.Models.SocialContext
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sending a message</title>
    @Styles.Render("~/content/Site.css")
    @Scripts.Render("~/scripts/jquery-1.7.1.min.js")
    <script>

        function Request() {
            this.message = null;
            this.title = null;
            this.socialName = null;
        }

        Request.prototype.serialize = function (){
            return 'message=' + this.message + '&title=' + this.title + '&socialName=' + this.socialName;
        }

        function sendMessage(request) {
            $.ajax({
                url: '@Url.Action("MessageRequest", "Home")',
                data: request,
                dataType: 'json',
                type: "post",
                success: sendMessageSuccessCallback,
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function sendMessageSuccessCallback(data){
            var responseDiv = $('<div class="form-title">' + data.message + '</div>');
            (data.status === 'error') ? responseDiv.css({ "color": 'red' }) : responseDiv.css({ 'color': 'green' });
            $('#response').append(responseDiv);
            console.log(data);
        }


        $(document).ready(function () {
            $(".auth").click(function () {
                window.location = $(this).val();
            });

            $("#sendMessageForm").on("submit", function (event) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            });
            $(".send").on("click", function (event) {
                var form = $('#sendMessageForm');
                var request = new Request();
                request.message = form.children("#textMessage").val();
                request.title = form.children("#tileMessage").val();
                request.socialName = $(this).attr('name');
                $('#response').empty();
                sendMessage(request.serialize());
            });

            $('#sendAll').on('click', function (event) {
                $('.send').trigger('click');
            });
        });
    </script>
</head>
<body>
    <div style="margin-top:1em">
        @using (Html.BeginForm("MessageRequest", "Home", FormMethod.Post, new { @class = "form-container", @id = "sendMessageForm" }))
        {
            <div class="form-title">
                <h2>Sending a message in social</h2>
                @if (ViewBag.message != null)
                { 
                    <h2 class="error">@ViewBag.message</h2>
                }
            </div>
            <div class="form-title">Message:</div>
            @Html.TextArea("message", new { @class = "form-field", @id = "textMessage" })<br />
            <div class="form-title">Title (for vk.com):</div>
            @Html.TextBox("title", null, new { @class = "form-field", @id = "tileMessage"})<br />
            if (!Model.FacebookUser.Any(x => x.ExpireTime > DateTime.Now))
            {
                <button class="auth submit-button" value="@Url.Action("FacebookAuth", "Home")">Logged in facebook</button><br />
            }
            else 
            {
                <button class="send submit-button" name="facebook">Send in facebook</button><br />                 
            }
            if (!Model.VkUser.Any())
            {
                <button class="auth submit-button" value="@Url.Action("VkAuth", "Home")">Logged in vk.com</button><br />
            }
            else
            {
                <button class="send submit-button" name="vk">Send in vk.com</button><br />                 
            }
            if((Model.FacebookUser.Count() + Model.VkUser.Count()) > 1)
            {
                <button class="submit-button" id="sendAll">Send in all social</button><br />
            }
            if((Model.FacebookUser.Count() + Model.VkUser.Count()) >= 1)
            {
                <button class="auth submit-button" value="@Url.Action("ClearAuthorization", "Home")">Clear authorization</button><br />                
            }
            <div id="response"></div>
        }
    </div>
</body>
</html>