@{
    Layout = null;
    var vkAttr = !ViewBag.vkEnabled ? new { @disabled = "disabled" } : null;
    var facebookAttr = !ViewBag.facebookEnabled ? new { @disabled = "disabled" } : null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sending a message</title>
    @Styles.Render("~/content/Site.css")
    @Scripts.Render("~/scripts/jquery-1.7.1.min.js")
    <script>

        function Request() {
            this.message = null;
            this.title = null;
            this.socialName = null;
        }

        Request.prototype.serialize = function (){
            return 'message=' + this.message + '&title=' + this.title + '&socialName=' + this.socialName;
        }

        function sendMessage(request) {
            $.ajax({
                url: '@Url.Action("MessageRequest", "Home")',
                data: request,
                dataType: 'json',
                type: "post",
                success: sendMessageSuccessCallback,
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            });
        }

        function sendMessageSuccessCallback(data){
            var responseDiv = $('<div class="form-title">' + data.message + '</div>');
            (data.status === 'error') ? responseDiv.css({ "color": 'red' }) : responseDiv.css({ 'color': 'green' });
            $('#lastFormElement').before(responseDiv);
            console.log(data);
        }
        function sendMessageErrorCallback(jqXHR, textStatus, errorThrown) {
        }

        $(document).ready(function () {
            $("#sendMessageForm").on("submit", function (event) {
                event.preventDefault();
                event.stopPropagation();
                var form = $(this);
                var a = form.serialize();
                console.log(a);
                $('#sendMessageForm input[type=checkbox]:checked').each(function () {
                    var request = new Request();
                    request.message = form.children("#textMessage").val();
                    request.title = form.children("#tileMessage").val();
                    request.socialName = $(this).attr('name');
                    sendMessage(request.serialize());
                });
                return false;
            });
        });
    </script>
</head>
<body>
    @Html.Partial("MenuPartial")

    <div>
        @using (Html.BeginForm("MessageRequest", "Home", FormMethod.Post, new { @class = "form-container", @id = "sendMessageForm" }))
        {
            <div class="form-title">
                <h2>Sending a message in social</h2>
                @if (ViewBag.message != null)
                { 
                    <h2 class="error">@ViewBag.message</h2>
                }
            </div>
            <div class="form-title">Message:</div>
            @Html.TextArea("message", new { @class = "form-field", @id = "textMessage" })<br />
            <div class="form-title">Title (for vk.com):</div>
            @Html.TextBox("title", null, new { @class = "form-field", @id = "tileMessage"})<br />
            <div class="form-title">@Html.CheckBox("facebook", false, facebookAttr) <span class="description">Facebook</span></div>
            <div class="form-title">@Html.CheckBox("vk", false, vkAttr) <span class="description">vk.com</span></div>
            <div class="submit-container" id="lastFormElement">
                <input class="submit-button" type="submit" value="Send" />
            </div>
        }
    </div>
</body>
</html>